CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.vscode/
build/
external/zlib/build/
external/slang/cmake/
external/slang/share/
external/slang/bin/*.pdb
external/slang/bin/*.exe
external/slang/bin/slang-glsl-module.dll
external/slang/bin/slang-glslang.dll
